body{
    padding-top: 65px;
}

.navbar-collapse a{
    font-size: 1.2rem !important;
}

.logo{
    font-size: 1.9rem;
    margin-top: -1px;
    color: #555;
    font-weight: 600;
    font-family: sans-serif;
}

.header-div{
    box-shadow: 0 2px 3px 0 rgba(100,100,100,0.15);
    background: linear-gradient(180deg,#fdfdfd,#fff);
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0px;
    padding: 0 30px;
}

.log-send-btn{
    padding: 0 4vh;
}

.log-send{
    position: fixed;
    bottom: 20px;
    width: 40%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
}

.log-send-input{
    padding: 1vh 2vh;
}

.log-container{
    width:50%;background:#fff;padding:10vh;font-size: 1.4rem;font-family: sans-serif;
    box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
    padding-bottom: 20vh;
    min-height: calc(100vh - 65px);
}

.log-container p{
    transition: all .1s;
    padding: 10px 15px;
    margin: 0px;
}

.log-container p img{
    width: 100%;
    height: auto;
}

.log-container p:hover{
    box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
}

.index-container{
    text-align: center;
    padding: 20vh 0;
    color: #555;
}

.index-container h1{
    font-size: 6rem;
    letter-spacing: 1px;
}

.index-container p{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 40px;
}

.index-container button{
    font-size: 1.4rem;
    font-weight: 300;
    padding: 5px 20px;
    letter-spacing: 1px;
}

.input-form{
    width:50%;margin: 10vh auto
}

@media screen and (max-width:767px){
    .index-container h1{
        font-size: 3rem;
    }
    
    .index-container p{
        font-size: 1.5rem;
        letter-spacing: .5px;
    }
    
    .input-form{
        width: 90%;
        margin: 10vh auto;
    }
    
    .log-container{
        width: 95%;
        padding: 10vh 5vh;
    }
    
    .log-send{
        width: 90%;
        margin-left: -2.5%;
        bottom: 10px;
        margin-bottom: 0px !important;
    }
    
    .log-send-input{
        padding: 1.5vh 3vh;
        font-size: 1.2rem;
    }
    .guide-fixed{
        display: none;
    }
}

.guide-fixed{
    position: fixed !important;
    left: 10% !important;
    text-align: left !important;
}